@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap");

/* Wildcard  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* base css stying */
body {
  font-family: "Poppins", sans-serif;
  /* To postion header, main and footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* maybe change */
  color: #3a3b3b;
}

h1,
h2 {
  font-family: "Abril Fatface", sans-serif;
  color: #d6809c;
  letter-spacing: 1px;
}

/* Header container */
header {
  /* header styling */
  background-color: #927397;
  padding: 0 10px;
  /* for fixing header to page, adding box shadow  */
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0 5px 5px 0 #bdcac5;
  /* For positioning name and nav bar in header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #e7cbae;
  text-decoration: none;
}

#name {
  font-size: 350%;
  text-decoration: underline #bdcac5;
}

#nav-menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style: none;
}

#nav-menu > li {
  padding: 5px 5px;
}

.active {
  border-bottom: 2px solid #bdcac5;
}

main {
  flex: 1 0 auto;
  margin-top: 130px;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(../images/balancing-stones.jpg) no-repeat center center/cover;
  position: relative;
}

#hero-text {
  color: #965d30;
  font-size: 110%;
  position: absolute;
  right: 0;
  margin-top: 250px;
  padding-right: 10px;
}

footer {
  background-color: #927397;
}

/* Footer */
#socials {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#socials i {
  font-size: 160%;
  padding: 5%;
  color: #e7cbae;
}

#book-class {
  background-color: #eddde2;
}

#timetable {
  padding-top: 50px;
}

/* Style the timetable table */
table {
  width: 100%;
  border-collapse: separate;
}

th,
td {
  border: 1px solid;
  border-color: #bdcac5;
}

td {
  text-align: center;
}

/* Style the Google Map */
#google-map {
  width: 100%;
  margin-top: 47px;
  border: none;
  display: flex;
  flex-direction: column;
}

/* Adjust the map iframe to fit the container */
#google-map iframe {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }

  #name {
    font-size: 400%;
  }

  nav {
    font-size: 120%;
    box-shadow: none;
    width: fit-content;
  }

  #nav-menu {
    display: flex;
    letter-spacing: 2px;
  }

  main {
    margin-top: 90px;
  }

  #hero-text {
    padding-right: 50px;
  }
}

@media screen and (min-width: 992px) {
  #name {
    font-size: 400%;
    margin: 0 1em;
  }

  nav {
    margin: 0 1em;
  }
  #nav-menu a:hover {
    border-bottom: 2px solid #bdcac5;
  }
}
